<footer class="mt-auto">
    <div class="container">
        <div class="row"><p style="line-height:3.5em;"></p></div>
        <div class="row">
            <p1>Dr. John Grieco Campus · 200 Hackensack Avenue,</p1>
        </div>
        <div class="row">
            <p1>Hackensack, New Jersey 07601</p1>
        </div>
        <div class="row">
            <p1>Information Line: 201-343-6000 ext. 2321</p1>
        </div>
        <div class="row">
            <p1><a href="http://www.bergen.org/"> www.bergen.org</a></p1>
        </div>
    </div>
</footer>