<link href="/stylesheets/search.css" rel="stylesheet">
<script>
    //const f = document.getElementById('form');
    //const keyword = document.getElementById('query');

    //function submitted(event) {
    //event.preventDefault();
    //const win = window.open("/artwork/search?keyword=" + keyword.value, '_self');
    //win.focus();
    //}

    //f.addEventListener('submit', submitted);

  function checkValues() {
        searchBox = document.getElementById("search");
        console.log(searchBox.value);
        window.location.href = "/artwork/1?search=" + searchBox.value;
    }
</script>
<form role="search" id="form" onsubmit="checkValues();">
      <input type="search" id="query" name="search" placeholder="Search the gallery...">
      <button onclick="checkValues">
        Search
      </button>
</form>
