<body class="d-flex flex-column min-vh-100">
<div class="container">
    <h3 class="text-center mb-2 pb-2 text-primary fw-bold">About</h3>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is BCAVMA?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A web app for the display of various Bergen County Academies students’ works from current and previous years alongside a 3D virtual art museum in Unity.</strong> By going to the Artwork tab on the top, different artwork from various students from Bergen County Academies can be viewed, searched, and individually observed. The Virtual Gallery tab reveals the Unity aspect to interactively walk around and view the artwork as well. The chat tab mimics a real gallery where viewers can join a room for a specific artwork and discuss in real time.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How to Submit?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Anyone can <a href="https://forms.gle/HiSJLGoSN4VsTdLr8">submit</a>, but it must be approved by Visual Academy teachers and completed through a school Bergen account.</strong> To prevent any spam, bots, or trolls, it will not immediately update on the artwork page after submitting through the form.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What are Tags?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Tags can help you narrow down your search for types of artwork and different forms of art.</strong> To use the tags, click on the "Tags" under the search bar and select any amount to help your journey! Individual art pages will also reveal the tags under the description, which can be clicked also!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Contact Us?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>It would be cool to contact us.</strong> Send any errors, issues, or suggestions towards the site to jerkur22@bergen.org, maxbob22@bergen.org, or zachdef22@bergen.org. For any questions about why your artwork was not approved, please email Mr. Lang at slang@bergen.org or Mr. Guthrie at petgut@bergen.org.
        </div>
      </div>
    </div>
  </div>
</div>
</body>
