<link href="/stylesheets/index.css" rel="stylesheet">
{{>search}}
            {{#each artwork}}
            <div class="container">
                    <img src="{{art_source}}" class="image w-100 shadow-1-strong rounded mb-4" alt="">
                        <a href="/artwork?id={{art_id}}">
                        <div class="overlay">
                            <div class="text">{{art_title}}</div>
                        </div>
                        </a>
            </div>
            {{/each}}
   <div class="container col-10 text-center">
            <hr>
            <div class="row">
                <p1 class="text-center">Submit your own artwork!</p1>
            </div>
            <div class="buffer-zone">
                <a href="https://forms.gle/HiSJLGoSN4VsTdLr8" class="btn btn-outline-dark" target="_blank">Submit</a>
            </div>
            <hr>

















        </div>