<link href="/stylesheets/credits.css" rel="stylesheet">
<div class="container col-3">
      <p1 style="text-align:center;">Made by Jeremy, Max, and Zach</p1>
</div>
<div class="container">
      <p1>With artwork from:</p1>
      {{#each names}}
      {{!-- <div class="test1"> --}}
            <div class="col-12">
                  <p1 class="list d-flex justify-content-center" style="text-align:center;">{{this}}</p1>
            </div>
      {{!-- </div> --}}
      {{/each}}
</div>
