<link href="/stylesheets/credits.css" rel="stylesheet">
<div class="container">
      <p1 style=""> <b> Made by: </b> Jeremy, Max, and Zach</p1>
</div>
<div class="container">
      <p1 style="text-align: center;"><b> With artwork from: </b> </p1>
      {{#each names}}
            <div class="col-14">
                  <p1 class="list d-flex justify-content-center" style="text-align:center;">{{this}}</p1>
            </div>
      {{/each}}
</div>
