<div class="container">
      <p1 style="text-align:center;">Made by Jeremy, Max, and Zach</p1>
</div>
<div class="container">
      <p1>With artwork from:</p1>
      {{#each names}}
            <div class="container col-4">
                  <p1 style="text-align:center;">{{this}}</p1>
            </div>
      {{/each}}
</div>
