<link href="/stylesheets/index.css" rel="stylesheet">
<div class="container">
      <div id="carouselExampleIndicators" class="carousel slide ms-auto me-auto h-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/Starry Night.jpg" class="d-block w-100 h-100" style="width: 100%;">
          </div>
          <div class="carousel-item">
            <img src="/images/Scream.jpg" class="d-block w-100 h-100" style="width: 100%;">
          </div>
          <div class="carousel-item">
            <img src="/images/Picture.jpg" class="d-block w-100 h-100" style="width: 100%;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>    