<link href="/stylesheets/index.css" rel="stylesheet">
  <div class="parallax"><h1>BCAVMA</h1><h2>Bergen County Academies Virtual Museum of Arts</h2></div>
<p style="vertical-align: center;">
    Welcome to the BCAVMA, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way. 
    With the resurgence of COVID-19, Print Week, along with other events hosted by the Academy for Visual and Performing Arts may need to be canceled or rescheduled. 
    Along with the risk of other conditions such as weather and generally busy schedules, having an alternative to display the wonderful artwork of the AVPA academy was imperative
</p>