<link href="/stylesheets/index.css" rel="stylesheet">

<div class="container-fluid">
  <div class="parallax">
    <p1 class="carousel-caption pb-5">BCAVMA</p1>
    <p1 class="carousel-caption text-top">Bergen County Academies Virtual Museum of Arts</p1>
  </div>
</div>
  
<div class="container text-center w-75 pt-4 pb-4">
  <p1>
<<<<<<< HEAD
      Welcome to the BCAVMA, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way.
      With the resurgence of COVID-19, Print Week, along with other events hosted by the Academy for Visual and Performing Arts may need to be canceled or rescheduled.
      Along with the risk of other conditions such as weather and generally busy schedules, having an alternative to display the wonderful artwork of the AVPA academy was imperative
  </p1>
</div>
=======
      Welcome to the BCAVMA, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way. 
      With the resurgence of COVID-19, Print Week, along with other events hosted by the Academy for Visual and Performing Arts may need to be canceled or rescheduled. 
      Along with the risk of other conditions such as weather and generally busy schedules, having an alternative to display the wonderful artwork of the AVPA academy was imperative
  </p1>
</div>
>>>>>>> 39e16482eeefb868386e8ba1aba933fed8ece96c
