<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" href="/images/favicon.ico">
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
