<div style="padding-left: .5em;">
            <form>
                <div class="mb-3">
                <label for="artistName" class="form-label">Artist Name(s)</label>
                <input type="text" class="form-control" id="artistName" aria-describedby="artistHelp">
                <div id="artistHelp" class="form-text">If there is more than one artist, seperate the names with commas (First Last, First Last, etc.).</div>
                </div>
                <div class="mb-3">
                <label for="artworkName" class="form-label">Artwork Name</label>
                <input type="text" class="form-control" id="artworkName">
                </div>
                <div class="mb-3">
                <label for="artworkLink" class="form-label">Artwork Link</label>
                <input type="url" class="form-control" id="artworkLink">    
                </div>
                <div class="mb-3">
                <label for="artworkDesc" class="form-label">Artwork Description</label>
                <input type="text" class="form-control" id="artworkDesc" aria-describedby="descHelp"> 
                <div id="descHelp" class="form-text">Short description of the piece</div>   
                </div>
                <div class="mb-3">
                <label for="artworkTags" class="form-label">Artwork Tags</label>
                <select class="form-select" aria-label="artworkTags">
                    <option selected>Choose your tags</option>
                    <option value="1">Photography</option>
                    <option value="2">Painting</option>
                    <option value="3">Film</option>
                </select>
                </div>
                <input type="submit">
            </form>
</div>