.by-text{
    display: inline-block;
    text-align: center;
    color: grey;
    font-size: 25pt;
    font-family: monospace;
}
.tag-text{
  display: inline-block;
  text-align: center;
  color: #008CBA;
  font-size: 20pt;
  font-family: monospace;
}

.head-text{
    display: inline-block;
    text-align: center;
    font-family: monospace;
}

.buffer-zone{
    padding-top: 10px;
}

.btn {
    border:  #008CBA;
    background-color: #008CBA;
    /* align-self: center; */
}

.btn-image {
    width: 40px;
    height: 40px;
}
.col-md-2{
  /* margin-left: 5px; */
  /* position: absolute; */
  right:0;
  width:110px;
  transform: translateY(100%);
  /* position: absolute;
  top:50%;
  right: 0;
  width: 120px;
  transform: translateY(-50%);
  <div class="text-left">
    <button type="button" class="btn btn-primary">Left Aligned Button</button>
   </div>*/
}
