
  .container {
      width: 50%;
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 15vh;
    border: 3px solid #c2e8f793;
  }
