.carousel-item {
    height: 500px
  }

  body, html {
    height: 100%;
  }


  .parallax h1, .parallax h2{
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-shadow: 0 0 8px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .parallax p1{
    /* margin-right: -50%; */
    transform: translate(1%, -10%)
  }

  .parallax p2{
    /* font-size: 10px; */
    /* margin-right: -50%; */
    transform: translate(1%, -120%)
  }

  p3 {
    font-size: 20px;
    font-weight: 300;
    padding: 0em 2em 0;
    line-height: 1.75em;
    margin-top: 1%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #111433;

  }

  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

  div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  #inside {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .frame {
  	text-align: center;
  	position: relative;
  	cursor: pointer;
  	perspective: 500px;
  }

  .frame .details {
  	width: 70%;
  	height: 270px;
  	padding: 5% 8%;
  	position: absolute;
  	content: "";
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%) rotateY(90deg);
  	transform-origin: 50%;
  	background: rgba(255,255,255,0.9);
  	opacity: 0;
  	transition: all 0.4s ease-in;

  }
  .frame:hover .details {
  	transform: translate(-50%, -50%) rotateY(0deg);
  	opacity: 1;
  }
/* .overlay {
  /* position: absolute;
  top: 0;
  height: 96%;
  width: 97%;
  opacity: 0%;
  transition: .5s ease;
  color: rgb(45, 53, 170);
  font-size: 20px;
  text-align: center; */
  position: absolute;
  height: 98%;
  width: 96%;
  opacity: 0%;
    top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
    opacity: 0;
    color: rgb(45, 53, 170);
    transition: all 0.8s ease;
}
.text h1{
  margin: 0;
	color: rgb(45, 53, 170);
}
.text:hover{
  opacity: 1;
} */
/* .container:hover .overlay {
  opacity: 75%;
  /* box-shadow: 10px 10px 5px rgb(92, 91, 91); */
  border: 5px solid rgb(45, 53, 170);
} */


.description-text{
  color: rgb(65, 64, 64);
  font-family: sans-serif;
  text-align: center;
  vertical-align: center;
}

.image {
  display: block;
  width: auto;
  height: auto;
}

.parallax {
  /* The image used */
  background-image: url("/images/Costal Clouds.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.artwork {
  position: relative;
  width: 50%;
}
